<div class="container-xl pt-4">
    <div class="row justify-content-center">
        <button class="btn btn-danger" (click)="logout()">Log Out</button>

        <div class="generic-list mt-4 col-12"
            *ngIf="isAdmin"
        >

            <div class="generic-list-head-wrapper">
                <div class="row generic-list-head">
                    <div class="col-3">NAME</div>
                    <div class="col-3">EMAIL</div>
                    <div class="col-2">ACCEPTED</div>
                    <div class="col-2">ADMIN</div>
                    <div class="col-2 centered">ACTIONS</div>
                </div>
            </div>

            <app-users-list
                *ngFor="let user of users"
                [user]="user"
                (onDeleteUser)="toDeleteUser($event)"
                (onToggleUser)="toToggleUser($event)"
            ></app-users-list>

        </div>

    </div>
</div>