<div class="generic-list-item-wrapper">
    <div class="row generic-list-item">
        <div class="col-3 regular-weight" data-name="name">
            {{ user.name }}
        </div>
        
        <div class="col-3" data-name="email">
            {{ user.email }}
        </div>
        <div class="col-2" data-name="accepted">
            <span *ngIf="user.accepted==1">YES</span>
            <span *ngIf="user.accepted==0">NO</span>
        </div>
        <div class="col-2 regular-weight" data-name="admin">
            <span *ngIf="user.admin==1">YES</span>
            <span *ngIf="user.admin==0">NO</span>
        </div>
        <div class="col-2" data-name="actions">
            <fa-icon 
                *ngIf="user.accepted==0"
                (click)=openToggleModal()
                [icon]="faUser">
            </fa-icon>
            <fa-icon 
                *ngIf="user.accepted==1"
                (click)=openToggleModal()
                [icon]="faUserAltSlash">
            </fa-icon>
            <fa-icon class="delete"
                (click)=openDeleteModal()
                [icon]="faTrashAlt" >
            </fa-icon>
        </div>
    </div>
</div>