<div class="container-xl">
	
	<app-resources-filter [resources]="resources" (searchTermChange)="onSearchTermChange($event)"
		(resourceStatusFilterChange)="onResourceStatusFilterChange($event)" (opStateFilterChange)="onOpStateFilterChange($event)">
	</app-resources-filter>

	<app-resources-view-block (onDeleteResource)="deleteResource($event)" *ngIf="!showListView" [resources]="resources"
		[isAdmin]="isAdmin">
	</app-resources-view-block>

	<app-resources-view-list (onDeleteResource)="deleteResource($event)" *ngIf="showListView" [resources]="resources"
		[mapPageCurrent]="false" [isAdmin]="isAdmin">
	</app-resources-view-list>

</div>