
// Fonts
$textFont : 'Poppins', sans-serif;
$titleFont : 'Roboto', sans-serif;

// Text Colors
$textColor : black;
$titleColor : black;

// Background Colors
$bgColor : #f6f6f6;
$secondaryBgColor : white; 
$reverseBgColor : black;
$babyblue: #89cff0;