
.modal-body{

    // & .col-12{

        & label{
            margin-bottom: 3px;
            font-weight: bold;
        }
        & input{
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 8px;
        }
        & .parameter{
            padding: 0 10px;
            & label{
                font-size: 14px;
            }
            & input{
                text-align: center;
            }
        }
    // }
}